langgraph
langchain-anthropic
langchain-google-genai
langchain-community
duckduckgo-search
PyGithub
python-telegram-bot
python-dotenv
beautifulsoup4
requests
lxml
tavily-python
youtube-transcript-api
fpdf2
langchain

langchain-groq
langchain-openai
